*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

main {
  margin-inline: 1rem;
}

header {
  min-height: 100px;
  display: flex;
  justify-content: center;
  /* padding: 1rem 0.5rem; */
}

#logo {
  width: 30%;
}

#navBar {
  min-width: 100%;
  background-color: #fbf7e3;
  /* border-radius: 50px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 0px 55px; */
}

h1,
h2 {
  color: #742305;
  margin-block: 2rem 1rem;
  font-size: 34px;
}

.button {
  background-color: #f3df85;
  padding: 0.7rem;
  width: 105px;
  border: 1px solid #f3df85;
  border-radius: 40px;
  font-weight: 600;
}

.shop {
  height: 70px;
  width: 135px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.card img {
  height: 100%;
  width: 100%;
  display: block;
}

.card {
  max-width: 300px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  border: none;
  overflow: hidden;
  background-color: #f1ebcd;
}

.bold {
  font-weight: bold;
}

.cardText {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
}

.cardText p:last-of-type {
  padding-top: 7px;
}

.cart {
  width: 150px;
  height: 30px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  background-color: #f3df85;
  margin-bottom: 1rem;
}

#products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px 0px;
}

article {
  background-color: #f1ebcd;
  padding: 1rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
article h4 {
  color: #742305;
  font-weight: 800;
}

article img {
  display: block;
}

@media screen and (min-width: 1200px) {
  #navBar {
    min-width: 200px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .shop {
    order: 1;
    margin-top: 1rem;
  }
  .our {
    order: 2;
    height: 70px;
    width: 135px;
  }
  .trace {
    order: 3;
    height: 70px;
    width: 135px;
  }
  .facil {
    order: 4;
    height: 70px;
    width: 135px;
  }
  .contacts {
    order: 5;
    height: 70px;
    width: 135px;
  }

  #desktop {
    display: flex;
  }

  h1 {
    margin-block: 1rem;
  }

  main {
    margin-inline: 2rem;
  }

  .card {
    max-width: 200px;
    min-height: 200px;
  }

  .cardText {
    gap: 0px;
  }

  article {
    flex-direction: row;
    gap: 0px 10px;
  }

  article img {
    order: 1;
  }

  article > div {
    order: 2;
  }

  #products {
    justify-content: space-evenly;
  }
}
